{% extends 'base.html' %}

{% block content %}
    <!-- DETAIL SIDE -->
    <div id="main" class="pb-5 reltative col-span-12 md:col-span-8 px-7">
        <!-- card -->
        <div
            class="shadow-lg p-4 flex flex-col space-y-1">
            <!-- head -->
            <div class="flex justify-between items-center mb-2">
                <div class="flex space-x-3 ">
                    <span class="w-12 h-12 bg-gray-400"></span>
                    <h2 class="font-bold">{{ post.author }}</h2>
                </div>
                <button class="text-xs sm:text-sm truncate font-bold border-2 px-3 text-green-500 border-green-500 rounded-md">FOLLOW</button>
            </div>
            <!-- detail -->
            <p class="text-lg ">{{ post.body }}</p>
            <span class="text-sm text-gray-500">
                {{ post.published }}
            </span>
            <!-- icons -->
            <div class="flex justify-between items-center">
                <span class="flex space-x-4 items-center">
                    <svg xmlns="http://www.w3.org/2000/svg" class="h-7 w-6 text-green-500" fill="none" viewBox="0 0 24 24" stroke="currentColor">
                        <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M8.684 13.342C8.886 12.938 9 12.482 9 12c0-.482-.114-.938-.316-1.342m0 2.684a3 3 0 110-2.684m0 2.684l6.632 3.316m-6.632-6l6.632-3.316m0 0a3 3 0 105.367-2.684 3 3 0 00-5.367 2.684zm0 9.316a3 3 0 105.368 2.684 3 3 0 00-5.368-2.684z"/>
                    </svg>
                    <svg xmlns="http://www.w3.org/2000/svg" class="h-6 w-6 text-blue-600" viewBox="0 0 20 20" fill="currentColor">
                        <path d="M2 10.5a1.5 1.5 0 113 0v6a1.5 1.5 0 01-3 0v-6zM6 10.333v5.43a2 2 0 001.106 1.79l.05.025A4 4 0 008.943 18h5.416a2 2 0 001.962-1.608l1.2-6A2 2 0 0015.56 8H12V4a2 2 0 00-2-2 1 1 0 00-1 1v.667a4 4 0 01-.8 2.4L6.8 7.933a4 4 0 00-.8 2.4z"/>
                    </svg>
                </span>
                <span class="flex space-x-2">
                    <svg xmlns="http://www.w3.org/2000/svg" class="h-6 w-6 text-gray-500" fill="none" viewBox="0 0 24 24" stroke="currentColor">
                        <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M8 12h.01M12 12h.01M16 12h.01M21 12c0 4.418-4.03 8-9 8a9.863 9.863 0 01-4.255-.949L3 20l1.395-3.72C3.512 15.042 3 13.574 3 12c0-4.418 4.03-8 9-8s9 3.582 9 8z"/>
                    </svg>
                    <svg xmlns="http://www.w3.org/2000/svg" class="h-6 w-6 text-green-500" viewBox="0 0 20 20" fill="currentColor">
                        <path d="M2 3a1 1 0 011-1h2.153a1 1 0 01.986.836l.74 4.435a1 1 0 01-.54 1.06l-1.548.773a11.037 11.037 0 006.105 6.105l.774-1.548a1 1 0 011.059-.54l4.435.74a1 1 0 01.836.986V17a1 1 0 01-1 1h-2C7.82 18 2 12.18 2 5V3z"/>
                    </svg>
                </span>
            </div>
        </div>
        <div class="mt-3 space-y-2">
            <span class="font-bold text-sm">
                Commentaires
            </span>
            <!-- comments container -->
            <div
                class="ml-10 border-l border-gray-400 pl-2 space-y-3">
                <!-- comment -->
                <div class="grid grid-cols-8">
                    <span class="w-10 h-10 bg-gray-400 rounded-full"></span>
                    <div class="flex flex-col col-span-7 mt-3">
                        <span class="font-bold text-sm">Kounta</span>
                        <span class="text-sm pl-2 text-gray-500">
                            il y'a 5 minutes</span>
                        <p class="text-xs sm:text-sm">
                            Athieu fils bii mom amna solo, mais defko le soir si possible
                        </span>
                        <svg xmlns="http://www.w3.org/2000/svg" class="h-5 w-5 text-gray-500" viewBox="0 0 20 20" fill="currentColor">
                            <path d="M2 10.5a1.5 1.5 0 113 0v6a1.5 1.5 0 01-3 0v-6zM6 10.333v5.43a2 2 0 001.106 1.79l.05.025A4 4 0 008.943 18h5.416a2 2 0 001.962-1.608l1.2-6A2 2 0 0015.56 8H12V4a2 2 0 00-2-2 1 1 0 00-1 1v.667a4 4 0 01-.8 2.4L6.8 7.933a4 4 0 00-.8 2.4z"/>
                        </svg>
                    </div>
                </div>
                <div class="grid grid-cols-8">
                    <span class="w-10 h-10 bg-gray-400 rounded-full "></span>
                    <div class="flex flex-col col-span-7 mt-3">
                        <span class="font-bold text-sm">OumarSOnko</span>
                        <span class="text-sm pl-2 text-gray-500">
                            il y'a 4 minutes</span>
                        <p class="text-xs sm:text-sm flex-grow-0">Waw le soir yaakarna moo geune kw, matin bi ak cours yi moy lolu kw .
                            Sinn cotisation bi meunooko wagni</span>
                        <svg xmlns="http://www.w3.org/2000/svg" class="h-5 w-5 text-gray-500" viewBox="0 0 20 20" fill="currentColor">
                            <path d="M2 10.5a1.5 1.5 0 113 0v6a1.5 1.5 0 01-3 0v-6zM6 10.333v5.43a2 2 0 001.106 1.79l.05.025A4 4 0 008.943 18h5.416a2 2 0 001.962-1.608l1.2-6A2 2 0 0015.56 8H12V4a2 2 0 00-2-2 1 1 0 00-1 1v.667a4 4 0 01-.8 2.4L6.8 7.933a4 4 0 00-.8 2.4z"/>
                        </svg>
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock %}