
{% load form_tags %}

    <form action="{% url 'post:post_create' %}" class="relative bg-white max-w-sm rounded-xl p-5 space-y-5 shadow-xl" method="post">
        <span class="font-bold text-blue-600"> nouvelle annonce
            <svg id="modal_dismiss" xmlns="http://www.w3.org/2000/svg" class="h-6 w-6 top-1 right-2 absolute text-red-500 font-bold cursor-pointer" fill="none" viewBox="0 0 24 24" stroke="currentColor">
                <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M6 18L18 6M6 6l12 12" />
            </svg>
        </span>
        <div class="space-y-1">
        {% for field in modal_form %}
            <div class="flex flex-col space-x-1 sm:flex-row sm:justify-between">
                {% if field|input_type != 'Textarea' %}
                    {{ field.label_tag }}
                {% endif %}
                {{ field | add_classes:"w-full border-b-2 pl-2 box-content focus:outline-none rounded-md  border border-gray-300" }}
            </div>
        {% endfor s%}
        </div>
        <input type="submit" class="w-full text-sm text-blue-600 font-bold py-1 cursor-pointer hover:bg-blue-600 hover:text-white" value="SEND"/>
        {% csrf_token %}

    </form>
