
{% load form_tags %}

<form action="{% url 'account:edit' %}" enctype="multipart/form-data" class="mb-0 bg-white relative shadow-lg px-4 py-5 space-y-5 flex -top-10 flex-col flex-shrink" method="post">
    <span class="absolute top-0 left-0 right-0 bg-blue-600 text-center text-white font-bold shadow-lg py-1"> ANNONCE 
        <svg id="profile_modal_dismiss" xmlns="http://www.w3.org/2000/svg" class="h-6 w-6 top-1 right-2 absolute text-red-500 bg-gray-300 rounded-full font-bold cursor-pointer" fill="none" viewBox="0 0 24 24" stroke="currentColor">
            <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M6 18L18 6M6 6l12 12" />
        </svg>
    </span>
    {% for field in user_form %}
        <div class="flex flex-col space-x-1 items-start">
            {% if field|input_type != 'Textarea' %}
                {{ field.label_tag }}
            {% endif %}
            {{ field | add_classes:"w-full border-b-2 pl-2 box-content focus:outline-none rounded-md  border border-gray-300" }}
        </div>
    {% endfor %}
    {% for field in profile_form %}
        <div class="flex flex-col space-x-1 items-start">
            {% if field|input_type != 'Textarea' %}
                {{ field.label_tag }}
            {% endif %}
            {{ field | add_classes:"w-full border-b-2 pl-2 box-content focus:outline-none rounded-md  border border-gray-300" }}
        </div>
    {% endfor %}
    <input type="submit" class="text-sm text-blue-600 font-bold py-1 cursor-pointer hover:bg-blue-600 hover:text-white" value="SEND"/>
    {% csrf_token %}
</form>
<script>
    $("#profile_modal_dismiss").on("click", (e)=>{
        $("#profile_modal").addClass('invisible');
    })
</script>